<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.full_name %></h1>
    <p>
      I am delighted to inform you that you have been accepted into my studio!  
    </p>
    <p>
      You may now check all of your upcoming lessons by signing in and checking your dashboard <%= link_to 'here', dashboard_url %>    
    </p>
    <p>I look forward to seeing you soon!</p>
  </body>
</html>
