<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.full_name %></h1>
    <p>
      Due to the huge number of students currently in my studio, I will not be able to accept you at this time.  
    </p>
    <p>
      Your information has been added to my waiting list, however, and as soon as I have some more space, I will contact you and add you as soon as I can.
    </p>
    <p>Thanks for applying and I hope to get back with you soon!</p>
  </body>
</html>
