<% if @new_students %>
  <ul class="list-group ml-5 student_list">
    <% @new_students.each do |s| %>
      <li class="list-group-item" id="<%= s.id %>">
        <div class="row align-items-center">
          <div class="col-7">
            <%= link_to s.full_name, s %>
          </div>
          <div class="col-5 text-right">
            <button class="btn btn-light" data-decision="add"><i data-decision="add" class="fas fa-check-circle text-success"></i>Studio</button>
            <button class="btn btn-light" data-decision="wait-list"><i data-decision="wait-list" class="fas fa-clock text-warning"></i>Wait List</button>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
