<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col">
    <h3>Thank you for wanting to join the studio. id: <%= @user.id %></h3>

    <h2 class="m-5">Status: <em class="<%= @user.status %>"><%= @user.status %></em></h2>

    <% if @user.status == "Pending" %>
      <p>Soon I can review my schedule to see if I can add you to my studio!</p>
    <% else %>
      <p>Unfortunately, I have too many students at the moment to take on more.  You have been added to my waiting list and your name, email, and phone number are all in my database.  When a spot opens up I'll be sure to contact you!</p>
    <% end %>
  </div>
</div>
