<button id="new_student_toggle" class="btn" data-toggle="collapse" data-target="#new_students">
  <h6>New Student Requests <em id="student_count">(<%= @new_students.length %>)</em> <i class="fas fa-sort-up text-primary"></i></h6>
</button>
<div class="row collapse" id="new_students">
  <%= render 'users/dashboard/new_students' %>
</div>

<button id="new_lesson_toggle" class="btn" data-toggle="collapse" data-target="#new_lessons">
  <h6>New Lesson Requests <em id="student_count">(<%= @single_lesson_requests.length + @weekly_lesson_requests.length %>)</em> <i class="fas fa-sort-up text-primary"></i></h6>
</button>
<div class="row collapse" id="new_lessons">
  <%= render 'users/dashboard/new_lessons' %>
</div>
