<div class="row">
  <div id="teacher-sidebar" class="col-3 border-right pr-5">
    <%= render 'users/dashboard/teacher_sidebar' %>
  </div>
  <div class="col-9">
    <p>hello teacher</p>
  </div>
</div>
