<h1 class="text-center">Welcome <%= @user.full_name %>!</h1>
<% if @user.teacher? %>
  <%= render 'users/dashboard/teacher' %>
<% elsif @user.student? %>
  <%= render 'users/dashboard/student' %>
<% else %>
  <%= render 'users/dashboard/non_student' %>
<% end %>
