    <h1 class="text-center"><%= @title %></h1> 
  </div>
</div>
<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-9 border-left">
    <ul>
      <% @users.each do |u| %>
        <li>
          <%= link_to u.full_name, u %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
