<h1 class="text-center"><%= @title %> <em id="student_count">(<%= @users.count%>)</em></h1> 
  </div>
</div>
<div class="row mt-5" id="student_index">
  <div class="col-3"></div>
  <div class="col-6">
    <ul class="list-group student_list">
      <% @users.each do |u| %>
        <li id="<%= u.id %>" class="list-group-item">
          <div class="row text-center">
            <div class="col-6">
              <%= link_to u.full_name, u %>
            </div>

            <div class="col-6">
              <% unless u.student %>
                <button class="btn btn-light" data-decision="add"><i class="fas fa-check-circle text-success" data-decision="add"></i>Studio</button>
              <% end %>

              <button class="btn btn-light" data-decision="deactivate"><i class="fas fa-ban text-danger" data-decision="deactivate"></i>Deactivate</button>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
