<div class="col-12 text-center">
  <% unless @lesson.start_time < Time.now.utc + 24.hours && !current_user.teacher || (@lesson.end_time <= Time.now && @lesson.paid) %>
    <% if @lesson.recurring? %>
      <%= link_to 'Cancel Weekly Lessons', lesson_path(@lesson, destroy_all: true), method: :delete, class: "btn btn-outline-danger" %>
    <% end %>
    <%= link_to 'Cancel This Lesson', lesson_path(@lesson), method: :delete, class: "btn btn-outline-danger" %>
  <% else %>
    <h3 class="text-info">Cannot cancel lesson within 24 hours of the start time</h3>
  <% end %>
  <% unless @lesson.confirmed %>
    <button class="btn btn-outline-success" data-action="confirm" data-id="<%= @lesson.id %>" data-occurence="single">Confirm This Lesson</button>
    <% if @lesson.recurring? %>
      <button class="btn btn-outline-success" data-action="confirm" data-id="<%= @lesson.id %>" data-occurence="weekly">Confirm Recurring Lessons</button>
    <% end %>
  <% end %>
</div>
