<div id="lesson-show">
  <div class="row my-3">
    <%= render 'lessons/lesson_buttons' %>
  </div>
  <div class="row mb-5">
    <div class="col-3"></div>
    <div class="col-lg-6 col-12">
      <div class="card text-center">
        <h1>Lesson for <%= @lesson.student.full_name %></h1>
        <div class="card-body">
          <%= render 'shared/lesson_card', lesson: @lesson %>
        </div>
        <% location = @lesson.location == "teacher" ? "label:T|#{@lesson.teacher.addresses.first.street_address},#{@lesson.teacher.addresses.first.city},+#{@lesson.teacher.addresses.first.state}" : "label:S|#{@lesson.student.addresses.first.street_address},#{@lesson.student.addresses.first.city},#{@lesson.student.addresses.first.state}" %>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?markers=size:mid|color:red|" + location + "&zoom=13&size=300x200&key=#{ENV["GOOGLE_MAPS_KEY"]}", class: "card-img-bottom" %>
      </div>
    </div>
  </div>
</div>
