/* non-student users */

.Pending {
  color: #c68a35
}

/* need styling for wait listed */


/* teacher dashboard */

/*teacher sidebar */

#teacher-sidebar {
  button {
    font-size: 0.7em;
    span {
      display: block;
    }
  }
}
