@import "dropdown_maker";

/* dropdown menu */

#icon {
  height: 80px;
  width: 80px;
  font-size: 0.7em;
}

#menu {
  width: 0;
  overflow: hidden;
  transition: width 1s, padding-left 1s;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: 50px;
  padding-left: 0;
  background-color: black;
}

.shown {
  width: 150px !important;
  padding-left: 20px !important;
}

.container-fluid {
  transition: margin-left 1s;
  margin-left: 0;
}

.shifted {
  margin-left: 150px;
}
